<div class="card">
  <div class="card-body">
    <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
      <h5 class="header mb-3">Información</h5>

      <div class="mb-2">
        <label class="form-label" for="primerApellido">Primer Apellido</label>
        <input id="primerApellido" type="text" class="form-control" formControlName="primerApellido" placeholder="Perez" (input)="onInputChange($event)">
        <div *ngIf="documentForm.get('primerApellido')?.invalid && documentForm.get('primerApellido')?.touched">
          <small class="text-danger" *ngIf="documentForm.get('primerApellido')?.errors?.['required']">Este campo es obligatorio.</small>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="primerNombre">Primer Nombre</label>
        <input id="primerNombre" type="text" class="form-control" formControlName="primerNombre" placeholder="jhenny" (input)="onInputChange($event)">
        <div *ngIf="documentForm.get('primerNombre')?.invalid && documentForm.get('primerNombre')?.touched">
          <small class="text-danger" *ngIf="documentForm.get('primerNombre')?.errors?.['required']">Este campo es obligatorio.</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="documentForm.invalid">Guardar</button>
    </form>
  </div>
</div>
